@import "tailwindcss";

/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

html,
body,
#root {
    min-height: 100vh;
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #a855f7;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9333ea;
}

/* Selection color */
::selection {
    background: #a855f7;
    color: white;
}

.form-input {
    @apply w-full px-4 py-2 rounded-lg bg-purple-950 text-white border border-purple-500 focus:outline-none focus:ring-2 focus:ring-orange-400;
}

.group,.mem{
    padding:0.25rem 1rem;
}